footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  text-align: center;
  img {
    min-height: 135px;
  }
  padding: $spacer;
  background: linear-gradient(to top, $primary 50%, transparent 50%);
}

.masonry {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 1em;
  -moz-column-gap: 1em;
  column-gap: 1.5em;
  padding: 0;
  -moz-column-gap: 1.5em;
  -webkit-column-gap: 1.5em;
  column-gap: 1.5em;
  width: 90%;
  margin: 3.5em auto;
  text-align: center;
}

.masonry-item {
  &:nth-child(even) {
    width: 85%;
  }
  &:nth-child(odd) {
    width: 100%;
  }
  display: inline-block;
  background: $white;
  padding: 1em;
  margin: 0 0 1.5em;
  -webkit-transition: 1s ease all;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 2px 2px 4px 0 #ccc;
  cursor: pointer;
  .img-wrapper {
    overflow: hidden;
  }
  img {
    max-width: 100%;
    transition: 0.3s all ease-in-out;
  }
  &:hover {
    box-shadow: 4px 4px 7px -1px $primary;
    transition: 0.3s ease-in-out;
    img {
      transform: scale(1.2);
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
}

.modal {
  z-index: 100;
  position: fixed;
  padding: $spacer * 1.5;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  min-width: 650px;
  width: auto;
  height: auto;
  margin: auto;
  background: $white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  @include modalAnimate();
}

fieldset {
  border-top: 1px solid;
  border-color: $primary;
  margin-bottom: 0;

  legend {
    width: auto;
    color: $secondary;
    padding-right: $spacer;
    margin-bottom: $spacer;
    float: none;
  }
}

.image-container {
  position: relative;
  img {
    position: relative;
  }
  button {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
  }
  &:hover {
    button {
      opacity: 1;
      transition: 0.3s ease-in-out;
    }
  }
}
